[submodule "lib"]
	path = utillib
	url = https://github.com/NickSto/utillib.git
[submodule "ET"]
	path = ET
	url = https://github.com/NickSto/ET.git
[submodule "kalign"]
	path = kalign
	url = https://github.com/makrutenko/kalign-dunovo.git
[submodule "makrutenko"]
	path = makrutenko
	url = https://github.com/makrutenko/common.git
