[submodule "lib"]
	path = utillib
	url = https://github.com/NickSto/utillib.git
[submodule "ET"]
	path = ET
	url = https://github.com/NickSto/ET.git
[submodule "kalign"]
	path = kalign
	url = https://github.com/makovalab-psu/kalign-dunovo.git
[submodule "bfx"]
	path = bfx
	url = https://github.com/NickSto/bfx.git
